.Header {
    width: 100vw;
    background-color: antiquewhite;
    padding: 0.5rem 0;
}

.block {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between
}

.logo {
    height: 3.5rem;
}

.logo > img {
    height: 100%;
}

.collapse {
    position: fixed;
}