<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>780660379860-geque2mdg9qq425q6g4610q9vhv9t8rg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.780660379860-geque2mdg9qq425q6g4610q9vhv9t8rg</string>
	<key>API_KEY</key>
	<string>AIzaSyC-i6myld4WWajeWLUD0Xt793ZAmQ898DU</string>
	<key>GCM_SENDER_ID</key>
	<string>780660379860</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nntuApp</string>
	<key>PROJECT_ID</key>
	<string>nntu-app</string>
	<key>STORAGE_BUCKET</key>
	<string>nntu-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:780660379860:ios:c937487cf0d64063e36b41</string>
</dict>
</plist>